<div class="container-fluid mb-4">
  <div class="row justify-content-center">
    <div class="col-8">

    <h1>Welcome to the New Face App</h1>
    <p>You can register Yourslef here</p>



    </div>
  </div>
</div>